{{ define "content" }}
  <article>
    <h2>Welcome</h2>
    <blockquote>
      “Perfection is not attainable, but if we chase perfection we can catch excellence.”
      <footer>
        <cite>— Vince Lombardi</cite>
      </footer>
    </blockquote>
    <p>
      Lean Thinking is ultimately a mindset, a way of viewing the world through continuous improvement.
    </p>
    <footer>
      <small>
        <a href="mailto:af@lean-thoughts.com" target=”_blank”>Reach out</a>
      </small>
    </footer>
  </article>
{{ end }}
